@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif !important;
  scroll-behavior: smooth;
  direction: ltr;
}

body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #050816;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8754af;
}

/* Button */

button.common-btn {
  --color: #8754af;
  font-family: inherit;
  display: inline-block;
  padding: 10px 50px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: all 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  background-color: #fff;
  cursor: pointer;
}

button.common-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 500px;
  border-radius: 50%;
}

button.common-btn:hover {
  color: #f2f2f2;
}

button.common-btn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button.common-btn:hover:before {
  top: -30px;
  left: -30px;
}

button.common-btn:active:before {
  background: #8754af;
  transition: background 0s;
  width: 100%;
}

button.common-btn.active {
  background: #8754af;
  transition: background 0s;
  width: 100%;
  color: #f2f2f2;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 2;
}

li {
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.navbar ul li:hover {
  color: #f3f3f3 !important;
}

fieldset {
  border-color: #6b7170 !important;
}

/* Hero */

.hero {
  background: url("./assets/herobg.webp");
  height: 100dvh;
  background-size: cover;
  position: relative;
}

/* About */

.about-img {
  animation: animateAbout 2s linear 2s infinite alternate;
}

@keyframes animateAbout {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* Time Line */

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
  }

  .vertical-timeline--two-columns
    .vertical-timeline-element-content
    .vertical-timeline-element-date {
    top: 10px;
  }

  .vertical-timeline-element-icon {
    top: 20px !important;
  }
}

.vertical-timeline-element-icon {
  left: 10px;
  width: 20px;
  height: 20px;
}

.vertical-timeline-element-icon {
  top: 10px;
}
